<template>
  <div class="image-container set-full-height">
    <Logo />
    <nuxt />
    <Fixed />
    <Engine />
  </div>
</template>
<script>
import Fixed from '@/components/fixed';
import Logo from "@/components/logo";
import Engine from "@/components/engine";

export default {
  components: {
    Fixed,
    Logo,
    Engine
  }
}
</script>