<template>
  <div></div>
</template>
<script>
import { mapActions } from 'vuex'
export default {
  methods: mapActions({
    startUserChange: 'user/startListeningToUserChanges',
    stopUserChange: 'user/stopListeningToUserChanges',
  }),
  created() {
    this.startUserChange()
  },
  destroyed() {
    this.stopUserChange()
  },
}
</script>
