<template>
  <div class="layout-top-nav layout-footer-fixed">
    <div class="wrapper">
      <Header :profile="profile" @command="onCommand" />
      <Nuxt />
      <Footer />
    </div>
    <Engine />
  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'

import Header from '@/components/layouts/header'
import Footer from '@/components/layouts/footer'
import Engine from '@/components/engine'

export default {
  components: {
    Header,

    Engine,
  },
  computed: mapState({
    profile: (state) => state.user.profile,
  }),
  methods: {
    ...mapActions({ signOut: 'user/signOut' }),
    onCommand(command) {
      if (command === 'signout') this.signOut()
    },
  },
}
</script>
