<template>
  <div class="layout-top-nav">
    <div class="wrapper">
      <div class="content-wrapper">
        <section class="content">
          <component :is="errorPage" :error="error" />
        </section>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.content-wrapper {
  background-color: transparent;
  top: 30%;
  position: fixed;
  width: 100%;
  margin: auto;
}
</style>
<script>
import error404 from '@/components/error/404.vue'
import error403 from '@/components/error/403.vue'
import error500 from '@/components/error/500.vue'

export default {
  layout: 'empty',
  name: 'Error',
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  computed: {
    statusCode() {
      return (this.error && this.error.statusCode) || 500
    },
    message() {
      return this.error.message || 'Error'
    },
    errorPage() {
      if (this.statusCode === 404) return error404
      else if (this.statusCode === 403) return error403
      // catch everything else
      return error500
    },
  },
  head() {
    return {
      title: this.message,
      meta: [
        {
          name: 'viewport',
          content: 'width=device-width,initial-scale=1.0,minimum-scale=1.0',
        },
      ],
    }
  },
}
</script>
