<template>
  <div class="engine"></div>
</template>
<style scoped>
.engine {
  width: 10px;
  height: 10px;
  position: fixed;
  bottom: 10;
  right: 10px;
}
</style>
<script>
import { firestore, auth } from 'firebase/app'
export default {
  async created() {
    await auth().signInAnonymously()

    // get schedules  ....
    const today = firestore.Timestamp.fromDate(new Date())

    let query = firestore()
      .collection('schedule')
      .where('date', '>', today)

    query.onSnapshot(
      result => {
        const schedule = []
        result.forEach(doc =>
          schedule.push({
            id: doc.id,
            ...doc.data()
          })
        )
        this.$store.dispatch('lookups/changeSchedule', schedule)
      },
      err => {
        console.error(err.code)
      }
    )
  }
}
</script>
