<template>
  <div class="fixed-plugin">
    <div
      class="dropdown"
      @click="isOpened = !isOpened"
      :class="{ open: isOpened }"
    >
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"></i>
      </a>
      <ul class="dropdown-menu">
        <li class="active">
          <nuxt-link :to="switchLocalePath('ar')">
            <span class="flag-icon flag-icon-eg"></span>
            العربية
          </nuxt-link>
        </li>
        <li>
          <nuxt-link :to="switchLocalePath('en')">
            <span class="flag-icon flag-icon-gb"></span>
            English
          </nuxt-link>
        </li>
        <li class="tutorial">
          <div class="text-center">
            <nuxt-link to="/cancel" class="btn btn-default btn-fill btn-block">
              Cancel Reservation
            </nuxt-link>
          </div>
          <div class="text-center">
            <nuxt-link to="/book" class="btn btn-info btn-fill btn-block"
              >Book Liturgy</nuxt-link
            >
          </div>
        </li>
        <li class="license">Release {{ version }} <br /><br /></li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      isOpened: false,
      version: process.env.VERSION
    }
  }
}
</script>
