<template>
  <div class="wizard-container">
    <div class="card wizard-card" data-color="orange">
      <WizardHeader :title="wizardInfo.title" :slug="wizardInfo.slug" />
      <WizardNavigation :wizard-steps="wizardInfo.steps" :current-step="wizardInfo.currentStep" />
      <WizardStep
        ref="stepContainer"
        :steps="wizardInfo.steps"
        :nullComponent="nullComponent"
        :current-step="wizardInfo.currentStep"
      />
      <WizardFooter
        :max-steps="wizardInfo.steps.length"
        :current-step="wizardInfo.currentStep"
        @next="onNext()"
        @prev="onPrev()"
        @submit="onSubmit()"
      />
    </div>
  </div>
</template>

<script>
import WizardHeader from '@/components/wizard/wizard-header'
import WizardNavigation from '@/components/wizard/wizard-navigation'
import WizardFooter from '@/components/wizard/wizard-footer'
import WizardStep from '@/components/wizard/wizard-step'

export default {
  components: {
    WizardHeader,
    WizardNavigation,
    WizardFooter,
    WizardStep
  },
  props: {
    wizardInfo: Object,
    nullComponent : Object
  },
  methods: {
    onNext() {
      if (this.$refs.stepContainer.validate()) {
        this.$emit('change-step', {
          data: this.$refs.stepContainer.model(),
          newStep: this.wizardInfo.currentStep + 1
        })
      }
    },
    onPrev() {
      this.$emit('change-step', {
        data: {},
        newStep: this.wizardInfo.currentStep - 1
      })
    },
    onSubmit() {
      if (this.$refs.stepContainer.validate()) {
        this.$emit('submit')
      }
    }
  }
}
</script>