<template>
  <div class="content-wrapper">
    <PageTitle title="Change Log" />
    <section class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="timeline">
              <div class="time-label">
                <span class="bg-navy">Version # 1.0.1</span>
              </div>
              <div>
                <i class="fas fa-code bg-blue"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header">
                    Features
                  </h3>
                  <div class="timeline-body">
                    <ul>
                      <li><b>Events</b> Delete Event</li>
                      <li><b>Events</b> Admin Invite</li>
                      <li><b>Settings</b> email info settings</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div>
                <i class="fas fa-bug bg-red"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header">
                    Known Fixes
                  </h3>
                  <div class="timeline-body">
                    <ul>
                      <li>
                        Logout not working properly - google issue
                      </li>
                      <li>
                        User image sometimes not displated - google issue
                      </li>
                      <li>
                        admin not optimized for mobile devices
                      </li>
                      <li>
                        Global search not working yet.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="timeline">
              <div class="time-label">
                <span class="bg-navy">Version # 1.0.0</span>
              </div>
              <div>
                <i class="fas fa-code bg-blue"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header">
                    Features
                  </h3>
                  <div class="timeline-body">
                    <ul>
                      <li>
                        Login using google only
                      </li>
                      <li>
                        Events List
                      </li>
                      <li>
                        Create Events
                      </li>
                      <li>
                        Print Events attendees
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div>
                <i class="fas fa-bug bg-red"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header">
                    Known Fixes
                  </h3>
                  <div class="timeline-body">
                    <ul>
                      <li>
                        Logout not working properly - google issue
                      </li>
                      <li>
                        User image sometimes not displated - google issue
                      </li>
                      <li>
                        admin not optimized for mobile devices
                      </li>
                      <li>
                        Global search not working yet.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import PageTitle from '@/components/layouts/page-title'

export default {
  components: {
    PageTitle,
  },
}
</script>
