<template>
  <div class="content-wrapper">
    <PageTitle title="Event Details" />
    <section class="content">
      <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col-md-2 flex-column">
            <ul class="nav flex-column nav-tabs h-100">
              <li class="nav-item">
                <nuxt-link
                  to="/settings"
                  class="nav-link"
                  :class="{ active: isActiveURL('/settings') }"
                >
                  <i class="fas fa-arrow-right"></i>
                  General
                </nuxt-link>
              </li>
              <li class="nav-item">
                <nuxt-link
                  to="/settings/smtp"
                  class="nav-link"
                  :class="{ active: isActiveURL('/settings/smtp') }"
                >
                  <i class="fas fa-arrow-right"></i>
                  SMTP / Email
                </nuxt-link>
              </li>
              <li class="nav-item">
                <nuxt-link
                  to="/settings/monitor"
                  class="nav-link"
                  :class="{ active: isActiveURL('/settings/monitor') }"
                >
                  <i class="fas fa-arrow-right"></i>
                  Monitor
                </nuxt-link>
              </li>
              <li class="nav-item">
                <nuxt-link
                  to="/settings/invitations"
                  class="nav-link"
                  :class="{ active: isActiveURL('/settings/invitations') }">
                  <i class="fas fa-arrow-right"></i>
                  Users And Permissions
                </nuxt-link>
              </li>
            </ul>
          </div>
          <div class="col-md-10 p-0 m-0 flex-column">
            <nuxt-child />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<style lang="scss" scoped>
.card {
  border-color: #dee2e6 #dee2e6 #dee2e6 transparent;
  border-width: 1px;
  box-shadow: none;
  border-radius: 0;
}
</style>
<script>
import PageTitle from '@/components/layouts/page-title'

export default {
  components: { PageTitle },
  methods: {
    isActiveURL(url) {
      return this.$route.path === url
    },
  },
}
</script>
