<template>
  <div class="tab-pane active">
    <h5 class="info-text">
        An Email has been sent to your email address, with detailed information. <br />
        please bring it with you during the liturgy. either hard or soft copy. 
    </h5>
    <div class="row"></div>
  </div>
</template>