<template>
  <div class="tab-pane">
    <h5 class="info-text">{{ $t(step.heading) }}</h5>
    <div class="row">
      <div class="col-sm-5">
        <Date-Pick
          prev-month-caption=""
          next-month-caption=""
          :weekdays="localDays"
          :months="localMonths"
          :hasInputElement="false"
          :value="selectedDate"
          @input="onDateChange"
          @periodChange="onPeriodChange"
        ></Date-Pick>
      </div>
      <div class="col-sm-7">
        <div class="list-group" :class="{ error: hasErrors }">
          <div v-if="scheduleList.length == 0">
            {{ $t('WIZARD_INFO_DATE_NODATA') }}
          </div>
          <a
            :id="'day' + item.date.date()"
            class="list-group-item"
            v-for="(item, ndx) in scheduleList"
            :key="ndx"
            :class="{
              active: ndx == selectedIndex,
              disabled: item.countLeft == 0
            }"
            @click="onItemSelected(item, ndx)"
          >
            <div class="row">
              <div class="col-sm-1 hidden-xs text-center bg-default col-month">
                <div class="text-sm hidden-smp">
                  {{ item.date.format('MMM') }}
                </div>
                <div class="h3">{{ item.date.format('D') }}</div>
              </div>
              <div class="col-sm-11 col-xs-12">
                <span class="label pull-right" :class="getClass(item)"
                  >{{ item.countLeft }}
                  {{ $t('WIZARD_INFO_DATE_COUNTLEFT') }}</span
                >
                <h4 class="media-heading">
                  {{ item.location }}&nbsp;&nbsp;{{ item.date.format('LT') }}
                </h4>
                <small class="text-muted"
                  >{{ item.date.format('llll') }} -
                  {{ $t('WIZARD_INFO_DATE_TOATCOUNT') }} {{ item.count }} -
                  {{ $t('WIZARD_INFO_DATE_BOOKEDCOUNT') }}
                  {{ item.count - item.countLeft }}</small
                >
              </div>
            </div>
          </a>
        </div>
        <div class="row" v-if="hasErrors">
          <small class="col-sm-12" style="color:#EB5E28">{{
            $('WIZARD_INFO_DATE_ERROR')
          }}</small>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.list-group-item {
  margin: 10px 0;
  padding: 0 15px;
}
.h3 {
  margin: 5px -2px;
}
.col-sm-11 {
  padding-top: 5px;
}
.list-group-item.active {
  background-color: transparent;
  color: #000;
  border-color: #9a9a9a;
  border-width: 3px;
}
.list-group {
  max-height: 300px;
  margin-bottom: 10px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.disabled {
  display: block;
}
.error {
  border-width: 3px;
  border-style: solid;
  color: #eb5e28;
  border-color: #eb5e28;
  border-radius: 4px;
  padding: 0 5px;
}
.col-month {
  padding: 2px;
}
.col-month .text-sm {
  font-size: 0.6em;
}
</style>
<script>
import moment from 'moment'
import { groupBy, isArray } from 'lodash'

export default {
  props: {
    step: Object
  },
  data() {
    const today = moment()
    return {
      selectedDate: today.format('YYYY-MM-DD'),
      selectedIndex: null,
      hasErrors: false,
      localDays: moment.weekdaysShort(),
      localMonths: moment.monthsShort(),
      period: null,
      model: {
        scheduleItem: null
      }
    }
  },
  computed: {
    schedules() {
      return groupBy(
        this.step.payload,
        itm => itm.date.month() + '' + itm.date.year()
      )
    },
    selectedPeriod: {
      set(val) {
        this.period = val
      },
      get() {
        if (this.period) return this.period
        if (this.step.payload && this.step.payload.length > 0) {
          return {
            month: this.step.payload[0].date.month(),
            year: this.step.payload[0].date.year()
          }
        }
        return {
          month: moment().month(),
          year: moment().year()
        }
      }
    },
    scheduleList() {
      return (
        this.schedules[
          this.selectedPeriod.month + '' + this.selectedPeriod.year
        ] || []
      )
    }
  },
  methods: {
    onDateChange(newDate) {
      this.hasErrors = false
      this.selectedDate = newDate
      this.selectedIndex = null
      this.model.scheduleItem = null
      this.$scrollTo('#day' + moment(newDate, 'YYYY-MM-DD').date(), 300, {
        container: '.list-group'
      })
    },
    onItemSelected(item, ndx) {
      if (item.countLeft > 0) {
        this.hasErrors = false
        this.selectedIndex = ndx
        this.selectedDate = item.date.format('YYYY-MM-DD')
        this.model.scheduleItem = item
      }
    },
    onPeriodChange(period) {
      this.selectedPeriod = period
    },
    validate() {
      this.hasErrors = this.model.scheduleItem ? false : true
      return !this.hasErrors
    },
    getClass(item) {
      const percent = (item.countLeft * 100) / item.count
      return percent > 75
        ? 'label-success'
        : percent > 25
        ? 'label-info'
        : percent > 15
        ? 'label-warning'
        : 'label-danger'
    }
  }
}
</script>
