<template>
  <div class="tab-pane">
    <h5 class="info-text">{{ $t(step.heading) }}</h5>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label>
            {{ $t('WIZRD_INFO_INFO_FIRSTNAME') }}
            <small>({{ $t('WIZARD_INFO_INFO_REQUIRED') }})</small>
          </label>
          <input
            type="text"
            class="form-control"
            :class="{ error: showError($v.model.firstName) }"
            placeholder="Andrew..."
            v-model.trim="$v.model.firstName.$model"
          />
          <label class="error" v-if="!$v.model.firstName.required">{{
            $t('WIZARD_INFO_INFO_ERR_REQUIRED')
          }}</label>
          <label class="error" v-if="!$v.model.firstName.maxLength">{{
            $t('WIZARD_INFO_INFO_ERR_LENGTH')
          }}</label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label>
            {{ $t('WIZRD_INFO_INFO_LASTNAME') }}
            <small>({{ $t('WIZARD_INFO_INFO_REQUIRED') }})</small>
          </label>
          <input
            type="text"
            class="form-control"
            :class="{ error: showError($v.model.lastName) }"
            placeholder="Smith..."
            v-model.trim="$v.model.lastName.$model"
          />
          <label class="error" v-if="!$v.model.lastName.required">{{
            $t('WIZARD_INFO_INFO_ERR_REQUIRED')
          }}</label>
          <label class="error" v-if="!$v.model.lastName.maxLength">{{
            $t('WIZARD_INFO_INFO_ERR_LENGTH')
          }}</label>
        </div>
      </div>
      <div class="col-sm-4">
        <label>
          {{ $t('WIZRD_INFO_INFO_NOATTENDEES') }}
          <small>({{ $t('WIZARD_INFO_INFO_REQUIRED') }})</small>
        </label>
        <input
          min="1"
          :max="countLeft"
          type="number"
          class="form-control"
          :class="{ error: showError($v.model.numberOfAttendees) }"
          v-model.trim="$v.model.numberOfAttendees.$model"
        />
        <label class="error" v-if="!$v.model.numberOfAttendees.required">{{
          $t('WIZARD_INFO_INFO_ERR_REQUIRED')
        }}</label>
        <label class="error" v-if="!$v.model.numberOfAttendees.integer">{{
          $t('WIZARD_INFO_INFO_ERR_NUM')
        }}</label>
        <i18n
          path="WIZARD_INFO_INFO_ERR_COUNT"
          tag="label"
          class="error"
          v-if="!$v.model.numberOfAttendees.between"
        >
          <template v-slot:countLeft>
            <span>{{ countLeft }}</span>
          </template>
        </i18n>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label>
            {{ $t('WIZRD_INFO_INFO_EMAIL') }}
            <small>({{ $t('WIZARD_INFO_INFO_REQUIRED') }})</small>
          </label>
          <input
            type="email"
            class="form-control"
            :class="{ error: showError($v.model.email) }"
            v-model.trim="$v.model.email.$model"
            placeholder="andrew@gmail.com"
          />
          <label class="error" v-if="!$v.model.email.required">{{
            $t('WIZARD_INFO_INFO_ERR_REQUIRED')
          }}</label>
          <label class="error" v-if="!$v.model.email.email">{{
            $t('WIZARD_INFO_INFO_ERR_EMAIL')
          }}</label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label>
            {{ $t('WIZRD_INFO_INFO_MOBILE') }}
          </label>
          <input
            type="tel"
            class="form-control"
            :class="{ error: showError($v.model.mobile) }"
            v-model.trim="$v.model.mobile.$model"
            placeholder="070 00000"
          />
          <label class="error" v-if="!$v.model.mobile.numeric">{{
            $t('WIZARD_INFO_INFO_ERR_NUM')
          }}</label>
          <label class="error" v-if="!$v.model.mobile.maxLength">{{
            $t('WIZARD_INFO_INFO_ERR_MOBILE')
          }}</label>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {
  required,
  maxLength,
  between,
  email,
  numeric,
  integer
} from 'vuelidate/lib/validators'

export default {
  props: {
    step: Object
  },
  data() {
    return {
      hasErrors: false,
      model: {
        firstName: null,
        lastName: null,
        numberOfAttendees: null,
        email: null,
        mobile: null,
        chrurchId: null,
        zipCode: null,
        city: null
      }
    }
  },
  computed: {
    countLeft() {
      if (this.step.payload && this.step.payload.scheduleItem)
        return this.step.payload.scheduleItem.countLeft
      return 0
    }
  },
  validations: {
    model: {
      firstName: {
        required: required,
        maxLength: maxLength(50)
      },
      lastName: {
        required: required,
        maxLength: maxLength(50)
      },
      numberOfAttendees: {
        required: required,
        between(value) {
          return between(1, this.countLeft)(value)
        },
        integer: integer
      },
      email: {
        required: required,
        email: email
      },
      mobile: {
        numeric: numeric,
        maxLength: maxLength(11)
      }
    }
  },
  methods: {
    showError(v) {
      return v.$dirty && v.$invalid
    },
    validate() {
      this.$v.$touch()
      return !this.$v.$invalid
    }
  }
}
</script>
