<template>
  <div class="tab-pane">
    <h5 class="info-text">{{ $t(step.heading) }}</h5>
    <div class="row">
      <div class="col-sm-6 col-xs-12 col-sm-offset-3 review-form">
        <div class="row">
          <label class="col-xs-3">{{ $t('WIZRD_INFO_REVIEW_NAME') }}</label>
          <span class="col-xs-9">{{
            step.payload.firstName + ' ' + step.payload.lastName
          }}</span>
        </div>
        <div class="row">
          <label class="col-xs-3">{{ $t('WIZRD_INFO_REVIEW_EMAIL') }}</label>
          <span class="col-xs-9">{{ step.payload.email }}</span>
        </div>
        <div class="row">
          <label class="col-xs-3">{{ $t('WIZRD_INFO_REVIEW_MOBILE') }}</label>
          <span class="col-xs-9">{{ step.payload.mobile || 'N/A' }}</span>
        </div>
        <div class="row">
          <label class="col-xs-3">{{ $t('WIZRD_INFO_REVIEW_DATE') }}</label>
          <span class="col-xs-9">{{ scheduleItem.date.format('llll') }}</span>
        </div>
        <div class="row">
          <label class="col-xs-3">{{ $t('WIZRD_INFO_REVIEW_LOCATION') }}</label>
          <span class="col-xs-9">{{ scheduleItem.location }}</span>
        </div>
        <div class="row">
          <label class="col-xs-4">{{
            $t('WIZRD_INFO_REVIEW_NOATTENDEES')
          }}</label>
          <span class="col-xs-8">{{ step.payload.numberOfAttendees }}</span>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.review-form {
  border: 1px solid #f3f2ee;
}
.review-form .row {
  line-height: 3em;
  border-bottom: 1px solid #f3f2ee;
}
.review-form .row:last-child {
  border-bottom: 0;
}
</style>
<script>
import moment from 'moment'
export default {
  props: {
    step: Object
  },
  computed: {
    scheduleItem() {
      if (this.step.payload && this.step.payload.scheduleItem)
        return this.step.payload.scheduleItem
      return {
        date: moment(),
        location: null
      }
    }
  },
  methods: {
    validate() {
      return true
    },
    model() {
      return {}
    }
  }
}
</script>
