<template>
  <div class="card h-100">
    <div class="card-body">
      <h5>Dead Messages</h5>
      <div v-for="(messages, stageName) in stages" :key="stageName">
        <h6>{{ stageName }}</h6>
        <div class="table-responsive">
          <table class="table table-bordered text-nowrap" v-if="messages.length > 0">
            <thead>
              <tr>
                <th>#</th>
                <th>Date</th>
                <th>Process</th>
                <th>Error</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(msg, ndx) in messages" :key="ndx">
                <td>{{ ndx + 1 }}</td>
                <td>{{ msg.date }}</td>
                <td>{{ msg.attributes.process }}</td>
                <td>{{ getStep(msg.attributes.steps,stageName).error }}</td>
              </tr>
            </tbody>
          </table>
          <p v-else>
            No Errors
          </p>
        </div>
      </div>
      <hr />
      <h5>Actions</h5>
      <button class="btn bg-navy" @click="retry">
        Retry All Dead Messages
      </button>
    </div>
  </div>
</template>
<script>
import { mapActions, mapState } from 'vuex'
import { find } from 'lodash'

export default {
  async asyncData({ store }) {
    await store.dispatch('monitor/loadDeadMessages')
  },
  computed: mapState({ stages: (state) => state.monitor.deadMessages }),
  methods: {
    ...mapActions({ retry: 'monitor/retry' }),
    getStep(steps, stepName) {
      return find(steps, (s) => s.name === stepName)
    },
  },
}
</script>
