<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <Wizard
          :wizard-info="wizardInfo"
          :nullComponent="nullComponent"
          @submit="submit"
          @change-step="changeStep"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { cloneDeep } from 'lodash'

import Wizard from '@/components/wizard'
import DateStep from '@/components/wizard/steps/date-step'
import InfoStep from '@/components/wizard/steps/info-setp'
import ReviewStep from '@/components/wizard/steps/review-step'
import ConfirmStep from '@/components/wizard/steps/confirm-step'

export default {
  components: {
    Wizard
  },
  data() {
    return {
      nullComponent: ConfirmStep
    }
  },
  computed: mapState({
    wizardInfo: state => {
      // TODO: need revisit. ..
      let wz = cloneDeep(state.booking.wizardInfo)
      wz.steps[0].component = DateStep
      wz.steps[0].payload = state.lookups.schedule

      wz.steps[1].component = InfoStep
      wz.steps[1].payload = state.booking.data

      wz.steps[2].component = ReviewStep
      wz.steps[2].payload = state.booking.data

      return wz
    }
  }),
  methods: mapActions({
    changeStep: 'booking/changeStep',
    submit: 'booking/submit'
  })
}
</script>
