<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="wizard-container">
          <div class="card wizard-card" data-color="orange">
            <div class="wizard-header text-center">
              <h3 class="wizard-title">Cancel Reservation</h3>
            </div>
            <div class="tab-content">
              <div class="tab-pane" style="display:block">
                <h5 class="info-text">please type the code in the confirmation mail</h5>
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2">
                    <div class="form-group">
                      <label>
                        Code
                      </label>
                      <input
                        type="text"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                    <button class="btn btn-warning col-sm-6 col-sm-offset-3">
                        Submit
                    </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.tab-content
{
    padding-top: 20px;
}
</style>