html[lang='ar-EG'] {
  direction: rtl;
  text-align: right;

  body {
    font-family: 'Tajawal', sans-serif;
  }

  .nav-pills {
    > li {
      float: right;
    }
  }

  .progress-bar {
    float: right;
  }

  .dropdown-menu {
    > li {
      text-align: right;
    }
  }

  .pull-right {
    float: left !important;
  }

  .pull-left {
    float: right !important;
  }

  @mixin float-grid-columns-right(
    $class,
    $i: 1,
    $list: '.col-#{$class}-#{$i}'
  ) {
    @for $i from (1 + 1) through $grid-columns {
      $list: '#{$list}, .col-#{$class}-#{$i}';
    }
    #{$list} {
      float: right;
    }
  }

  @include float-grid-columns-right(xs);
  @include float-grid-columns-right(sm);
  @include float-grid-columns-right(md);
  @include float-grid-columns-right(lg);

  // ============================
  .logo-container {
    right: 10px;
    left: auto;
    .logo {
      float: right;
    }
    .brand {
      float: right;
    }
  }

  .fixed-plugin {
    right: auto;
    left: 50px;
    .dropdown-menu {
      left: 0;
      right: auto;

      &:before {
        right: auto;
        left: 10px;
      }
      &:after {
        right: auto;
        left: 10px;
      }
    }
  }
}

html[lang='en-GB'] {
  body {
    font-family: 'Muli', Arial, sans-serif;
  }
}
