<template>
  <footer class="main-footer">
    <strong>Copyright &copy; 2020 - Philos Platform </strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block"><b>Version</b> 1.0.1</div>
  </footer>
</template>
