<template>
  <nav class="main-header navbar navbar-expand-md navbar-dark navbar-navy">
    <div class="container">
      <NavBrand />

      <button class="navbar-toggler order-1" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse order-3">
        <ul class="navbar-nav">
          <li class="nav-item">
            <nuxt-link to="/" class="nav-link">
              Dashboard
            </nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link to="/events" class="nav-link">
              Calendar
            </nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link to="/reports" class="nav-link">
              Reports
            </nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link to="/settings" class="nav-link">
              Settings
            </nuxt-link>
          </li>
        </ul>
        <SearchForm />
        <ul class="navbar-nav ml-auto">
          <UserMenu
            :profile="profile"
            :commands="[
              { text: 'Sign Out', command: 'signout', location: 'footer' },
            ]"
            @command="onUserCommand"
          />
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
import NavBrand from '@/components/layouts/nav-brand'
import SearchForm from '@/components/layouts/search-form'
import UserMenu from '@/components/layouts/user-menu'

export default {
  components: { NavBrand, SearchForm, UserMenu },
  props: {
    profile: Object,
  },
  methods: {
    onUserCommand(args) {
      this.$emit('command', args)
    },
  },
}
</script>
