<template>
  <a href="/" class="navbar-brand">
    <img
      :src="logoUrl"
      :alt="title"
      class="brand-image img-circle elevation-3"
    />
    <span class="brand-text font-weight-light">{{ title }}</span>
  </a>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Philos Booking',
    },
    logoUrl: {
      type: String,
      default: '/7_450132_REV.png',
    },
  },
}
</script>
