<template>
  <section class="content-header">
    <div class="container">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1>{{ title }}</h1>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: {
    title: String,
  },
}
</script>
