<template>
  <li
    v-if="profile"
    :class="{ show: isDisplayed }"
    class="nav-item dropdown user-menu"
  >
    <a
      href="javascript:void(0)"
      class="nav-link dropdown-toggle"
      data-toggle="dropdown"
      @click.prevent="isDisplayed = !isDisplayed"
    >
      <img
        :src="profile.photoURL"
        class="user-image img-circle elevation-2"
        alt="User Image"
      />
      <span class="d-none d-md-inline">{{ profile.displayName }}</span>
    </a>
    <ul
      class="dropdown-menu dropdown-menu-lg dropdown-menu-right"
      :class="{ show: isDisplayed }"
    >
      <!-- User image -->
      <li class="user-header bg-primary">
        <img
          :src="profile.photoURL"
          class="img-circle elevation-2"
          alt="User Image"
        />
        <p>{{ profile.displayName }}</p>
        <small>{{ profile.email }}</small>
      </li>
      <!-- Menu Body -->
      <li v-if="bodyCommands.length > 0" class="user-body">
        <div class="row">
          <div
            class="col-4 text-center"
            v-for="command in bodyCommands"
            :key="command.command"
          >
            <a href="javascript:void(0)" @click="onCommandClick(command)"
              >{{ command.text }}
              <i :class="command.icon" v-if="command.icon"></i>
            </a>
          </div>
        </div>
        <!-- /.row -->
      </li>
      <!-- Menu Footer-->
      <li class="user-footer">
        <a
          href="javascript:void(0)"
          @click="onCommandClick(command)"
          v-for="(command, ndx) in footerCommands"
          :key="command.command"
          :class="{ 'float-right': ndx === footerCommands.length - 1 }"
          class="btn btn-default btn-flat"
        >
          {{ command.text }}
          <i :class="command.icon" v-if="command.icon"></i>
        </a>
      </li>
    </ul>
  </li>
</template>
<script>
import { filter } from 'lodash'

export default {
  props: {
    profile: {
      type: Object,
      default: () => ({
        displayName: 'john doe',
        email: 'john@doe.none',
        photoURL: '/',
      }),
    },
    commands: {
      type: Array,
      default: () => [
        {
          text: 'Followers',
          icon: '',
          command: 'followers',
          location: 'body',
        },
        {
          text: 'Sales',
          icon: '',
          command: 'sales',
          location: 'body',
        },
        {
          text: 'Friends',
          icon: '',
          command: 'friends',
          location: 'body',
        },
        {
          text: 'Profile',
          icon: '',
          command: 'profile',
          location: 'footer',
        },
        {
          text: 'Sign out',
          icon: '',
          command: 'signout',
          location: 'footer',
        },
      ],
    },
  },
  data() {
    return {
      isDisplayed: false,
    }
  },
  computed: {
    footerCommands() {
      return filter(this.commands, (c) => c.location === 'footer')
    },
    bodyCommands() {
      return filter(this.commands, (c) => c.location === 'body')
    },
  },
  methods: {
    onCommandClick(command) {
      this.$emit('command', command.command)
    },
  },
}
</script>
