<template>
  <div class="content-wrapper" v-if="item">
    <PageTitle title="Event Details" />
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 no-print">
            <div class="row">
              <div class="col-12">
                <div class="info-box" :class="getClass(item)">
                  <span class="info-box-icon">
                    <i class="far fa-calendar-alt"></i>
                  </span>
                  <div class="info-box-content">
                    <span class="info-box-text">{{ item.location }}</span>
                    <span class="info-box-number">{{
                      item.date.format('llll')
                    }}</span>

                    <div class="progress">
                      <div
                        class="progress-bar"
                        :style="{ width: item.percent + '%' }"
                      ></div>
                    </div>
                    <span class="progress-description">
                      {{ item.countLeft }} available / {{ item.count }} total
                      seats
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body p-0">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <nuxt-link
                          :to="'/events/' + $route.params.id"
                          class="nav-link"
                        >
                          Requests
                          <i class="fas fa-arrow-right float-right"></i>
                        </nuxt-link>
                      </li>
                      <li class="nav-item">
                        <nuxt-link
                          :to="'/events/' + $route.params.id + '/admin-request'"
                          class="nav-link"
                        >
                          Create Admin Request
                          <i class="fas fa-arrow-right float-right"></i>
                        </nuxt-link>
                      </li>
                      <li class="nav-item">
                        <nuxt-link
                          :to="'/events/' + $route.params.id + '/printout'"
                          class="nav-link"
                        >
                          Printable Attendance list
                          <i class="fas fa-arrow-right float-right"></i>
                        </nuxt-link>
                      </li>
                    </ul>
                  </div>
                  <div class="card-footer">
                    <button
                      class="btn btn-outline-danger btn-block"
                      @click="onDelete"
                    >
                      <i class="icon fas fa-ban"></i>
                      Delete Event
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9 print-full-col">
            <nuxt-child />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import { mapActions, mapState } from 'vuex'

import PageTitle from '@/components/layouts/page-title'

export default {
  components: { PageTitle },
  computed: mapState({ item: (state) => state.events.item }),
  methods: {
    ...mapActions({
      startLoadingEvents: 'events/listen',
      stopLoadingEvents: 'events/stop',
      deleteEvent: 'events/remove',
    }),
    getClass(event) {
      return event.percent > 75
        ? 'bg-success'
        : event.percent > 25
        ? 'bg-info'
        : event.percent > 15
        ? 'bg-warning'
        : 'bg-danger'
    },
    async onDelete() {
      const result = await this.$swal.fire({
        title: 'Are you sure you want to delete?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!',
      })
      if (result.value) {
        await this.deleteEvent(this.$route.params.id)
        this.$swal.fire({
          position: 'top-end',
          icon: 'success',
          title: 'Event Deleted Successfully',
          showConfirmButton: false,
          timer: 1000,
        })
        this.$router.push('/events')
      }
    },
  },
  created() {
    this.startLoadingEvents(this.$route.params.id)
  },
  destroyed() {
    this.stopLoadingEvents()
  },
}
</script>
