<template>
  <div class="content-wrapper">
    <PageTitle title="Calendar" />
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <div class="card-header bg-navy">
                <h3 class="card-title">
                  Filter
                </h3>
                <div class="card-tools">
                  <i class="fas fa-filter"></i>
                </div>
              </div>
              <div class="card-body" v-if="filterForm">
                <div class="form-group">
                  <label>From</label>
                  <input
                    type="date"
                    class="form-control"
                    v-model="filterForm.from"
                  />
                </div>
                <div class="form-group">
                  <label>To</label>
                  <input
                    type="date"
                    class="form-control"
                    v-model="filterForm.to"
                  />
                </div>
                <div class="form-group">
                  <label>Location</label>
                  <input
                    type="text"
                    class="form-control"
                    v-model="filterForm.location"
                  />
                </div>
                <div class="form-group">
                  <button
                    type="button"
                    class="btn bg-navy btn-block"
                    @click="onFilter"
                  >
                    Search
                    <i class="fas fa-search fa-rotate-90"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="card card-navy card-outline">
              <div class="card-header">
                <div class="card-tools">
                  <nuxt-link to="/events/new" class="btn bg-navy">
                    <i class="far fa-calendar-plus"></i>
                    Create
                  </nuxt-link>
                </div>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-hover table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th>Location</th>
                      <th>Date</th>
                      <th>Seats</th>
                      <th>Remaining</th>
                      <th width="20%"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="event in events" :key="event.id">
                      <td>
                        <nuxt-link :to="'/events/' + event.id">
                          {{ event.location }}
                        </nuxt-link>
                      </td>
                      <td>{{ event.date.format('llll') }}</td>
                      <td>{{ event.count }}</td>
                      <td>{{ event.countLeft }}</td>
                      <td>
                        <div class="progress progress-xs">
                          <div
                            class="progress-bar"
                            :class="getClass(event)"
                            :style="{
                              width: event.percent + '%',
                            }"
                          ></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
import moment from 'moment'

import PageTitle from '@/components/layouts/page-title'

export default {
  components: {
    PageTitle,
  },
  data() {
    return {
      _filter: null,
    }
  },
  computed: {
    ...mapState({
      events: (state) => state.events.list,
      filter: (state) => state.events.filter,
      loading: (state) => state.state.isLoading,
    }),
    filterForm: {
      get() {
        if (!this._filter && this.filter) {
          this._filter = {
            location: this.filter.location,
            from: this.filter.from.format('YYYY-MM-DD'),
            to: this.filter.to.format('YYYY-MM-DD'),
          }
        }
        return this._filter
      },
      set(val) {
        this._filter = val
      },
    },
  },
  methods: {
    ...mapActions({
      startLoadingEvents: 'events/listen',
      stopLoadingEvents: 'events/stop',
      filterEvents: 'events/filter',
    }),
    getClass(event) {
      return event.percent > 75
        ? 'bg-success'
        : event.percent > 25
        ? 'bg-info'
        : event.percent > 15
        ? 'bg-warning'
        : 'bg-danger'
    },
    onFilter() {
      this.filterEvents({
        from: moment(this.filterForm.from, 'YYYY-MM-DD', true),
        to: moment(this.filterForm.to, 'YYYY-MM-DD', true),
        location: this.filterForm.location,
      })
    },
  },
  created() {
    this.startLoadingEvents()
  },
  destroyed() {
    this.stopLoadingEvents()
  },
}
</script>
