<template>
  <div class="content-wrapper">
    <PageTitle title="New Event" />
    <section class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="card">
              <div class="card-body">
                <div class="form-group">
                  <label>Location</label>
                  <input
                    type="text"
                    class="form-control"
                    :class="{ 'is-invalid': $v.location.$error }"
                    v-model.trim="$v.location.$model"
                  />
                  <span
                    v-if="!$v.location.required"
                    class="error invalid-feedback"
                    >this field is required</span
                  >
                </div>
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label>Date</label>
                      <input
                        type="date"
                        class="form-control"
                        v-model.trim="$v.date.$model"
                        :class="{ 'is-invalid': $v.date.$error }"
                      />
                      <span
                        v-if="!$v.date.required"
                        class="error invalid-feedback"
                        >this field is required</span
                      >
                      <span
                        v-if="!$v.date.validDate"
                        class="error invalid-feedback"
                      >
                        Invalid Date Format use the format "Month/Day/Year"
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label>Time</label>
                      <input
                        type="time"
                        class="form-control"
                        v-model.trim="$v.time.$model"
                        :class="{ 'is-invalid': $v.time.$error }"
                      />
                      <span
                        v-if="!$v.time.required"
                        class="error invalid-feedback"
                        >this field is required</span
                      >
                      <span
                        v-if="!$v.time.validTime"
                        class="error invalid-feedback"
                      >
                        Invalid time format use the format "Hour:Minute AM/PM"
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Seats</label>
                  <input
                    type="number"
                    class="form-control"
                    v-model.number="$v.seats.$model"
                    :class="{ 'is-invalid': $v.seats.$error }"
                  />
                  <span v-if="!$v.seats.required" class="error invalid-feedback"
                    >this field is required</span
                  >
                  <span v-if="!$v.seats.integer" class="error invalid-feedback">
                    Only numbers allowed
                  </span>
                  <span
                    v-if="!$v.seats.minValue"
                    class="error invalid-feedback"
                  >
                    number must be greater than 0
                  </span>
                </div>
              </div>
              <div class="card-footer">
                <nuxt-link to="/events" class="btn bg-info">Cancel</nuxt-link>
                <button class="btn bg-navy float-right" @click="onSave">
                  <i class="fas fa-save"></i> &nbsp;&nbsp; Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import { required, integer, minValue } from 'vuelidate/lib/validators'
import { mapActions } from 'vuex'
import moment from 'moment'

import PageTitle from '@/components/layouts/page-title'

const validDate = (value) => moment(value, 'YYYY-MM-DD', true).isValid()
const validTime = (value) =>
  moment('01-01-2000 ' + value, 'MM-DD-YYYY HH:mm', true).isValid()

export default {
  components: {
    PageTitle,
  },
  data() {
    return {
      location: '',
      date: moment().format('YYYY-MM-DD'),
      time: '08:00',
      seats: 50,
    }
  },
  validations: {
    location: {
      required,
    },
    date: {
      required,
      validDate,
    },
    time: {
      required,
      validTime,
    },
    seats: {
      required,
      integer,
      minValue: minValue(0),
    },
  },
  methods: {
    ...mapActions({ add: 'events/add' }),
    async onSave() {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        await this.add({
          location: this.location,
          count: this.seats,
          date: moment(`${this.date} ${this.time}`, 'YYYY-MM-DD HH:mm', true),
        })
        this.$router.push('/events')
      }
    },
  },
}
</script>
