<template>
  <div class="error-page">
    <h2 class="headline text-info">403</h2>
    <div class="error-content">
      <h3>
        <i class="fas fa-users-slash text-info"></i> Oops! You dont have access
        to view this page
      </h3>
      <p>
        if this is your first attemp to login, please logout and login again, if
        not please contact your administrator
      </p>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  computed: {
    message() {
      return this.error.message || 'Error'
    },
  },
}
</script>
