<template>
  <div class="progress-with-circle">
    <div
      class="progress-bar"
      role="progressbar"
      aria-valuenow="1"
      aria-valuemin="1"
      :aria-valuemax="maxSteps"
      :style="{width : progress + '%'}"
    ></div>
  </div>
</template>
<script>
export default {
  props: {
    progress: Number,
    maxSteps: Number
  }
}
</script>