<template>
  <div class="wizard-header text-center">
    <h3 class="wizard-title">{{ $t(title) }}</h3>
    <p class="category">
      {{ $t(slug)
      }}<nuxt-link to="cancel"> {{ $t('WIZARD_INFO_ClickHere') }}</nuxt-link
      >.
    </p>
  </div>
</template>
<script>
export default {
  props: {
    title: String,
    slug: String
  }
}
</script>
