<template>
  <div class="wizard-footer">
    <div class="pull-right">
      <input
        v-show="showNext"
        type="button"
        class="btn btn-next btn-fill btn-warning btn-wd"
        :value="$t('WIZARD_INFO_NEXT')"
        @click="$emit('next')"
      />
      <input
        v-show="showFinish"
        type="button"
        :disabled="isDisabled"
        class="btn btn-finish btn-fill btn-warning btn-wd"
        :value="$t('WIZARD_INFO_FINISH')"
        @click="submit()"
      />
    </div>

    <div class="pull-left">
      <input
        v-show="showPrev"
        type="button"
        class="btn btn-previous btn-default btn-wd"
        :value="$t('WIZARD_INFO_BACK')"
        @click="$emit('prev')"
      />
    </div>
    <div class="clearfix"></div>
  </div>
</template>
<script>
export default {
  props: {
    maxSteps: Number,
    currentStep: Number
  },
  data() {
    return {
      isDisabled: false
    }
  },
  methods: {
    submit() {
      this.isDisabled = true
      this.$emit('submit')
    }
  },
  computed: {
    showNext() {
      return (
        (this.currentStep == null ? 99 : this.currentStep) + 1 < this.maxSteps
      )
    },
    showPrev() {
      return this.currentStep > 0 && this.currentStep < this.maxSteps
    },
    showFinish() {
      return this.currentStep + 1 == this.maxSteps
    }
  }
}
</script>
