<template>
  <div class="tab-content">
    <component
      v-for="(step, ndx) in steps"
      :ref="ndx"
      :key="step.title"
      :class="{active : currentStep == ndx }"
      :is="step.component"
      v-bind="{step:step}"
    ></component>
    <component v-if="currentStep == null" :is="nullComponent">
    </component>
  </div>
</template>
<script>
export default {
  props: {
    steps: Array,
    currentStep: Number,
    nullComponent : Object
  },
  methods: {
    validate() {
      return this.$refs[this.currentStep][0].validate()
    },
    model() {
      return this.$refs[this.currentStep][0].model;
    }
  }
}
</script>