.wizard-card{
    min-height: 410px;
    box-shadow: 0 20px 16px -15px rgba(0, 0, 0, 0.57);


    .picture-container{
        position: relative;
        cursor: pointer;
        text-align: center;
    }

    .icon-circle{
        font-size: 20px;
        border: 3px solid $gray-input-bg;
        text-align: center;
        border-radius: 50%;
        color: $font-color;
        font-weight: $font-weight-bold;
        width: 70px;
        height: 70px;
        background-color: $white-color;
        margin: 0 auto;
        position: relative;
        top: -2px;

        [class*="ti-"]{
            position: absolute;
            z-index: 1;
            left: 1px;
            right: 0px;
            top: 23px;
        }
    }

    .picture{
        width: 106px;
        height: 106px;
        background-color: #d8d1c9;
        border: 4px solid transparent;
        color: #FFFFFF;
        border-radius: 50%;
        margin: 5px auto;
        overflow: hidden;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;

        &:hover{
            border-color: #2ca8ff;
        }
    }

    .picture-src{
        width: 100%;
    }

    &[data-color="azure"]{
        @include set-wizard-color($primary-color);
    }

    &[data-color="green"]{
        @include set-wizard-color($success-color);
    }
    &[data-color="blue"]{
        @include set-wizard-color($info-color);
    }

    &[data-color="orange"]{
        @include set-wizard-color($warning-color);
    }

    &[data-color="red"]{
        @include set-wizard-color($danger-color);
    }

    .picture input[type="file"] {
        cursor: pointer;
        display: block;
        height: 100%;
        left: 0;
        opacity: 0 !important;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .tab-content{
        min-height: 435px;
        padding: 105px 20px 10px;
    }

    .wizard-footer{
        padding: 0 15px 5px;
    }

    .disabled{
        display: none;
    }

    .wizard-header{
        padding: 15px 15px 15px 15px;
        position: relative;
        border-radius: 3px 3px 0 0;
        z-index: 3;

        h3{
            text-align: center;
        }
    }

    .wizard-title{
        color: $card-black-color;
        font-weight: $font-weight-light;
        margin: 0;
    }

    .category{
        font-size: 16px;
        font-weight: 400;
        color:$font-color;
        margin-bottom: 0px;
        text-align: center;
        white-space: pre-line;
    }

    .wizard-navigation{
        position: relative;

        .progress-with-circle{
            position: relative;
            top: 40px;
            z-index: 50;
            height: 4px;

            .progress-bar{
                box-shadow: none;
                -webkit-transition: width .3s ease;
                -o-transition: width .3s ease;
                transition: width .3s ease;
            }
        }
    }

    .info-text{
        text-align: center;
    }

    .choice{
        text-align: center;
        cursor: pointer;
        margin-top: 38px;

        .icon{
            text-align: center;
            vertical-align: middle;
            height: 116px;
            width: 116px;
            border-radius: 50%;
            background-color: #999999;
            color: #FFFFFF;
            margin: 0 auto 20px;
            border: 4px solid #CCCCCC;
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
        }

        i{
            font-size: 32px;
            line-height: 55px;
        }

        &:hover,
        &.active{
            .icon{
                border-color: #2ca8ff;
            }
        }

        input[type="radio"],
        input[type="checkbox"]{
            position: absolute;
            left: -10000px;
            z-index: -1;
        }
    }

    .description{
        color: $font-color;
        font-size: 14px;

    }
}
