<template>
  <div class="card card-navy card-outline">
    <div class="card-header">
      <h3 class="card-title">Admin Invitation</h3>
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 col-12">
            <div class="form-group">
              <label>First Name</label>
              <input
                type="text"
                class="form-control"
                :class="{ 'is-invalid': $v.model.firstName.$error }"
                v-model.trim="$v.model.firstName.$model"
              />
              <span
                v-if="!$v.model.firstName.required"
                class="error invalid-feedback"
                >this field is required</span
              >
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="form-group">
              <label>Last Name</label>
              <input
                type="text"
                class="form-control"
                :class="{ 'is-invalid': $v.model.lastName.$error }"
                v-model.trim="$v.model.lastName.$model"
              />
              <span
                v-if="!$v.model.lastName.required"
                class="error invalid-feedback"
                >this field is required</span
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-12">
            <div class="form-group">
              <label>Email</label>
              <input
                type="email"
                class="form-control"
                v-model.trim="$v.model.email.$model"
                readonly
              />
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="form-group">
              <label>Mobile</label>
              <input
                type="tel"
                class="form-control"
                v-model.trim="$v.model.mobile.$model"
              />
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="form-group">
              <label>Number Of Attendees</label>
              <input
                type="tel"
                class="form-control"
                :class="{ 'is-invalid': $v.model.numberOfAttendees.$error }"
                v-model.trim="$v.model.numberOfAttendees.$model"
              />
              <span
                v-if="!$v.model.numberOfAttendees.required"
                class="error invalid-feedback"
                >this field is required</span
              >
              <span
                v-if="!$v.model.numberOfAttendees.between"
                class="error invalid-feedback"
                >there are only {{ event.countLeft }} seats available</span
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label>Admin Comments</label>
              <textarea
                v-model="$v.model.comments.$model"
                class="form-control"
                rows="3"
              >
              </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn bg-navy float-right" @click="onSave">
        <i class="fas fa-save"></i> &nbsp;&nbsp; Save
      </button>
    </div>
  </div>
</template>
<script>
import { required, between } from 'vuelidate/lib/validators'
import { mapState, mapActions } from 'vuex'

export default {
  computed: mapState({ event: (state) => state.events.item }),
  data() {
    return {
      model: {
        firstName: '',
        lastName: '',
        email: 'admin-reserved',
        mobile: '',
        numberOfAttendees: '',
        comments: '',
      },
    }
  },
  validations: {
    model: {
      firstName: {
        required,
      },
      lastName: {
        required,
      },
      email: {},
      mobile: {},
      numberOfAttendees: {
        required,
        between(value) {
          return between(1, this.event.countLeft)(value)
        },
      },
      comments: {},
    },
  },
  methods: {
    ...mapActions({
      add: 'requests/add',
    }),
    async onSave() {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        await this.add({
          event: this.event,
          request: this.model,
        })
        this.$swal.fire({
          position: 'top-end',
          icon: 'success',
          title: 'Admin Invite Added',
          showConfirmButton: false,
          timer: 1500,
        })
        this.$v.$reset()
        this.model = {
          firstName: '',
          lastName: '',
          email: 'admin-reserved',
          mobile: '',
          numberOfAttendees: '',
          comments: '',
        }
      }
    },
  },
}
</script>
