<template>
  <div class="card card-navy card-outline">
    <div class="card-body table-responsive p-0">
      <table class="table table-hover table-head-fixed text-nowrap">
        <thead>
          <tr>
            <th>code</th>
            <th>Name</th>
            <th>Attendees</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="request in requests" :key="request.id">
            <td>
              {{ request.id }}
            </td>
            <td>{{ request.firstName }} - {{ request.lastName }}</td>
            <td>{{ request.numberOfAttendees }}</td>
            <td>
              <img :src="request.qrCode" width="35px" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import { mapActions, mapState } from 'vuex'

export default {
  computed: mapState({ requests: (state) => state.requests.list }),
  methods: {
    ...mapActions({
      startLoading: 'requests/listen',
      stopLoading: 'requests/stop',
    }),
  },
  created() {
    this.startLoading(this.$route.params.id)
  },
  destroyed() {
    this.stopLoading()
  },
}
</script>
