<template>
  <div class="invoice p-3 mb-3" v-if="event">
    <div class="row">
      <div class="col-12">
        <h4>
          <i class="far fa-calendar-alt"></i> {{ event.location }}
          <small class="float-right">
            Date: {{ event.date.format('llll') }}
          </small>
        </h4>
      </div>
    </div>

    <div class="row invoice-info">
      <div class="col-sm-12 invoice-col">
        <b>Total number of Seats </b> : {{ event.count }} <br />
        <b>Booked Seats </b> : {{ event.count - event.countLeft }} <br />
        <b>Empty Seats </b> : {{ event.countLeft }} <br />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12 table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Attendees</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(request, ndx) in requests" :key="request.id">
              <td>{{ ndx + 1 }}</td>
              <td>{{ request.firstName }} {{ request.lastName }}</td>
              <td>{{ request.email }}</td>
              <td>{{ request.mobile }}</td>
              <td>{{ request.numberOfAttendees }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row no-print">
      <div class="col-12">
        <button class="btn btn-default" @click="onPrint">
          <i class="fas fa-print"></i> Print
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions, mapState } from 'vuex'

export default {
  computed: mapState({
    requests: (state) => state.requests.list,
    event: (state) => state.events.item,
  }),
  methods: {
    ...mapActions({
      startLoading: 'requests/listen',
      stopLoading: 'requests/stop',
    }),
    onPrint() {
      window.print()
    },
  },
  created() {
    this.startLoading(this.$route.params.id)
  },
  destroyed() {
    this.stopLoading()
  },
}
</script>
